node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment Variables / Secrets
.env
*.env
.env.*      

# Firebase Admin SDK Keys
serviceAccountKey.json
*.pem
*.p12

# Logs
logs
*.log
debug.log
firebase-debug.log

# Editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Build
dist/
build/

# Temporary Data
.tmp/
.temp/
cache/
